<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimfcompany.signpdfapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".base.AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".networking.fbmessaging.FbMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".sync.SyncJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".local_db.raw.WintecProvider"
            android:authorities="com.dimfcompany.signpdfapp.wintecprovider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dimfcompany.signpdfapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.act_first.ActFirst">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.act_register.ActRegister" />
        <activity android:name=".ui.act_main.ActMain" />
        <activity android:name=".ui.act_sign.ActSign" />
        <activity
            android:name=".ui.act_signature_dialog.ActSignatureDialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ui.act_finished.ActFinished" />
        <activity
            android:name=".ui.act_add_product_dialog.ActAddProductDialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ui.act_products.ActProducts" />
        <activity android:name=".ui.act_main_new.ActMainNew" />
        <activity
            android:name=".ui.act_profile_dialog.ActProfileDialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ui.act_admin.ActAdmin" />
        <activity android:name=".ui.act_vaucher.ActVaucher" />
        <activity
            android:name=".ui.act_element_dialog.ActElementDialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ui.act_pre_show.ActPreShow" />
        <activity android:name=".ui.act_admin_menu.ActAdminMenu" />
        <activity android:name=".ui.act_access.ActAccess" />
        <activity
            android:name=".ui.act_search_dialog.ActSearchDialog"
            android:theme="@style/Theme.Transparent"></activity>
        <activity
            android:name=".ui.act_access_dialog.ActAccessDialog"
            android:theme="@style/Theme.Transparent"></activity>
        <activity
            android:name=".ui.act_user_docs_dialog.ActUserDocsDialog"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.act_user_page.ActUserPage"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.act_user_auth_dialog.ActUserAuthDialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ui.act_geo.ActGeo" />
    </application>


</manifest>